@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Zachary Sperka, at the time of creating this MVC I am a student in a Software Development Bootcamp at Eleven Fifty Academy. The MVC is beginning created as my red badge final assignment after already having completed both, my gold badge which focused on C# fundamentals, and my blue Badge which went more in depth in WebApi and Asp.Net. This goal of this platform is to create an MVC for individual fans in which that can on their own add sports, leagues, teams, and players to create a more in depth network of sports around the globe. The fans can also create a profile for themselve and assoicate themselve with team/teams they are rooting for. Sports as a whole is a uniting force in which people from different socioeconomic, racial, and spiritual backgrounds can join together in common good to cheer on there favorite teams.</p>
