@{
    ViewBag.Title = "Home Page";
}



<div class="branding">
    <img src="~/Assets/LogoMakr_9KP5OA.png" class="header" />
</div>
<div class="row">
    <ul>
        <li>
            <h1>@Html.ActionLink("Storys", "Index", "Story")</h1>
        </li>

        <li>
            <h1>@Html.ActionLink("Teams", "Index", "Team")</h1>
        </li>
        <li>
            <h1>@Html.ActionLink("Players", "Index", "Player")</h1>
        </li>
    </ul>
</div>


<style>
    .branding {
        text-align: center;
    }
    .row{
        text-align:center;
        margin-top:100px;
    }
    li{
        list-style:none;
        font-family:fantasy;
    }
    .row li{
        margin-bottom:50px;
    }
    a:hover{
        text-decoration:none;

    }
</style>
